.starFeed {
    height: 88%;
    display: flex;
    flex-direction: column;
}

.starDesc {
    margin: 1%;
    padding: 1%; 
    border: 2px solid silver;
    border-radius: 7px;
    height: 45%;
}

.starHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.starHeader > h1 {
    font-weight: 400;
    margin:0;
    width: 85%;
    display: flex;
    align-items: baseline;
}

.starHeader > h1 > div > div {
    height: 55px;
    font-size: 50px;
    padding: 5px;
    margin-right: 10px;
};

#priority {
    margin: 1%;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.starFabs > * {
    margin-right: 10px !important;
}

.starDetails {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.starDetails > * {
    text-align: center;
}

.starActivity {
    background-color: cyan;
}

.starData {
    display: flex;
    flex-direction: row;
}

.dataRow {
    display: flex;
    flex-direction: row;
}

.dataCol {
    width: 50%;
}

.feedSection {
    border: 2px solid silver;
    border-radius: 5px;
    margin: 0 1% 1% 1%;
    padding: 1%; 
    height: 70%;
    overflow-y: hidden;
}

#notes {
    width: 60%;
    height: 90%;
}

#activity {
    width: 40%;
    height: 90%;
}

.commentActions {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}

.replyButton, .deleteButton {
    cursor: pointer;
    padding: 3px;
    font-size: 17px !important;
}

.replyButton:hover {
    color: purple !important;
}

.deleteButton:hover {
    color: red !important;
}

.addComment {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding: 10px;
    width: 95%;
}

#avatar {
    margin-top: 12px;
}

.activityItem {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
}

.logIcon {
    font-size: 25px !important;
    margin: 0 10px 0 15px;
}

.logPublisher {
    color: crimson;
}

.logValue {
    color: cornflowerblue;
}
/* Redesign scrollbar */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}