.starsHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.starsHistory * {
    margin-top: 5px;
}

.historyFilterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyFilter > * {
    position: absolute !important;
}