.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createEvent {
    width: 80%;
}
.eventVersions, .weapons, .versions, .findings, .addFinding {
    border: 1px solid silver;
    border-radius: 2px;
    padding: 20px;
    margin: 10px;
}

.versionTables {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons, .versions {
    width: 95%;
}

.addFinding > div {
    display: flex;
}