.profileHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px;
    height: 25%;
}

.profileHeader > * {
    margin-left: 15px;
}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.userDetails {
    margin-top: 10px;
    width: 95%;
    height: 100%;
}

.userDetails > * {
    margin: 10px 0 0 10px;
    width: 250px;
    height: 75px;
}

.buttonText {
    font-size: 17px;
    margin-right: 5px;
}