.Page {
    height: 85%;
}

.Page > h1 {
    margin: 0 4% 0 0;
    font-weight: 300;
    font-size: 350%;
}

.stars {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 95%;
    justify-content: center;
}

/* Tables Section */
.starsTable, .noPriority {
    margin: 3% 3% 0 3%;
    padding: 0 1% 0 1%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.noPriority {
    height: 100%;
    padding-top: 0;
    margin: 0;
    background-color: whitesmoke;
}

.starsTable {
    height: 80%;
    flex-grow: 1;
}
.tableHeader {
    align-self: center !important;
    width: 90% !important;
}

.tableHeader > tr > td {
    font-weight: bold !important;
    padding: 0 0 10px 0;
    text-align: center;
}

.dropDownIcon  {
    font-size: small !important;
    margin-right: 2px !important;    
    cursor: pointer;
}


.noPriority > h3 {
    width: 100%;
    text-align: center;
    margin: 3%;
}

.starRow {
    margin-bottom: 30px;
    border: 1px solid silver;
    cursor: pointer;
    overflow-x: hidden;
}

.starRow:hover {
    background-color: whitesmoke;
}

.starRow > table > tr > td {
    text-align: center;
}

#priority {
    margin: 1%;
    font-size: 120%;
    font-weight: 900;
    color: rgb(224, 58, 16);
    -webkit-text-stroke: 1px black;
}

/* Expanded Section */

.starExpand {
    height: 250px;
    width: 90%;
    overflow: hidden;
    padding: 2%;
}

.dataRow {
    display: flex;
    flex-direction: row;
}

.starActions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.starActions > * {
    margin-top: 8px;
}

.starLink {
    font-weight: 500;
    color: rgb(77, 77, 216);
    width: fit-content;
}

.starLink:hover {
    text-decoration: underline;
}

.actionButtons {
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.actionButtons > * {
    padding: 7%;
}

.actionButtons > *:hover {
    border: 1px solid silver;
    border-radius: 50%;
}


/* Collapse no priority */

.collapseOpen {
    flex-grow: 1;
    border: 1px solid silver;
}

 .collapseInnerWrapperOpen {
     flex-grow: 1;
 }

 @media only screen and (max-width: 1500px) {
    .noPriority, .collapseOpen, .collapseButton {
        display: none !important;
    }
}

/* Redesign scrollbar */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}